<div class="side-bar">
<%= render partial: '/games/sidebar' %>
</div>

<div class="main-content">
<div class="hisotry-post">
 <%= form_with(model: [@game, @history], local: true) do |form| %>
 <div class="form-content">
 <div class="date">
 <%= form.date_field :date,  class: 'date-select' %>
 </div>
 <%= form.text_area :text, placeholder: "How was your playing today?",  class: 'history-text' %>
 <%= form.label :image, class: 'image-input' %>
 <%= form.file_field :image, class: 'hidden'  %>
 <%= form.submit "SAVE" ,class: 'submit-button'%>
 </div>
 <% end %>
</div>
</div>
</div>