<div class="side-bar">
<%= render partial: '/games/sidebar' %>
</div>

<div class="main-content">
<div class="history">
<div class="history-header">
<h2 class="hisotry-date"><%= l(@history.date).to_date %></h2>
<% if user_signed_in? && @history.user_id == current_user.id %>
<p>
<%= link_to 'Edit', edit_game_history_path(game_id: @history.game.id, id: @history.id), class: 'link-text history-controll'%>
<%= link_to 'Delete', game_history_path(game_id: @history.game.id, id: @history.id), method: :delete, class: 'link-text history-controll'%>
</p>
<% end %>
</div>
<p class="history-content"><%= @history.text %></p>
<%= image_tag @history.image.variant(resize:'500x500'), class: 'message-image' if @history.image.attached? %>
<div id="likes_buttons_<%= @history.id %>">
 <%= render partial: 'likes/like', locals: { history: @history} %>
</div>
</div>
</div>

