<!DOCTYPE html>
<html>
  <head>
    <title>Gamedays</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  
  <h1><%= link_to "GameDays", games_path, class: "title"%></h1>
  <% if user_signed_in? %>
  <h1><%= link_to current_user.name,  edit_user_path(current_user), class: 'user-name'  %></h1>
  <% else %>
  <h1><%= link_to 'Sign In', new_user_session_path, class: 'user-name'%></h1>
  <% end %>
  
  
  </header>
  <main>
  <%= yield %>
  </main>
  <footer>
  <h2><%= link_to 'Back to Home', games_path, class: "back-to-home" %></h2>
  </footer>
  </body>
</html>
